@import "tailwindcss";

/*
   The import above loads all of Tailwind's defaults.
   The rules below are just your custom global overrides.
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  transition: background-color 0.3s, color 0.3s;
}
@keyframes slideIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-bounce-in {
  animation: slideIn 0.3s ease-out forwards;
}
